header {
    background-color: rgba(128, 128, 128, 0.7);
    margin: 0;
    padding: 10px; 
    color:yellow;
    
    height: 100px;
    
}

.name {
    position: absolute;
    top: 20px;
    left: 165px;
    width: 200px;
    height: 50px;
}

.logo {
    position: absolute;
    top: 5px;
    left: 40px;
    width: 100px;
    height: 100px;
}

#encabezado {
    position: absolute;
    top: 60px;
    left: 750px;
    
}
ul, ol {
    list-style: none;
}
.lista li a {
    color: yellow;
    text-decoration: none;
    padding: 10px;
    font-size: 32px;
}
.lista li a:hover{
    background-color: #434343;  
}
.lista > li {
    float: left;
}
.lista li ul{
    display: none;
    position: absolute;
    min-width: 140px;
}
.lista li:hover > ul {
    display: block;
}
.lista li ul li{
    position: relative;
}
.lista li ul li ul{
    right:-140px;
    top:0px;
}
body{
    margin: 0;
    padding: 0;
    background-image: url("../img/excavcamion.jpeg");
    background-size: 100% auto;
    background-position: center 11%;
    background-repeat: no-repeat;
}